---
import Layout from '../layouts/Layout.astro';
---

<Layout title="guillem tarraga">
	<div class="container">
		<h1>hi! i'm guillem.</h1>
		
		<p class="section-label">about</p>
		<p>Some people call me <mark>will</mark>. I solve problems with software.<br>A high-leverage generalist, jumping from one rabbit hole to another.</p>

		<p class="section-label">work</p>
		<p>I'm currently improving airplane mainteinance and repairs by applying AI to the problem at <a href="https://www.iairgroup.com/es/" target="_blank">IAG</a>.</p>

		<p class="section-label">contact</p>
		<p>You can reach me on <a href="https://www.linkedin.com/in/guillem-tarraga" target="_blank">LinkedIn</a>. Or <a href="mailto:gt.tarraga+site@gmail.com?subject=Hi%20from%20your%20site">email</a> me directly. <a href="https://github.com/gtarraga" target="_blank">GitHub</a> too.</p>

		<hr>

		<p class="section-label">list of things i've worked on</p>
		<ul>
			<li>a paella event for engineers</li>
			<li>a <a href="https://papers.gtarraga.com" target="_blank">paper reading club</a></li>
		</ul>
	</div>
</Layout>

